@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-pt-sans: "PT Sans", sans-serif; 
  --font-sans: "Roboto", sans-serif;
  --font-heading: "Barrio", cursive;

  --color-brand-purple: #3F2B80;
  --color-brand-purple-light: #54429d  ;
  --color-brand-orange: #FF6801;
  --color-brand-yellow: #FFCD00;
  --color-brand-yellow-light: #FFF4D1;
}
